<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <div class="wrapper">
        <div class="header">
            <h1>Wgraj plik <i class="fa fa-upload" aria-hidden="true"></i></h1>
        </div>
            <form action="/upload" enctype="multipart/form-data" method="post">
              <div class="form-wrapper">      
                <div class="form-input">
                  <input type="text" name="title" placeholder="tytuł pliku" required>
                </div>
                <div class="form-folder">  
                  <input type="file" name="upload" multiple="multiple" id="upload">
                  <label for="upload"><span class="folder"><i  id="folder" class="fa fa-folder-open fa-2x"></i></span>
                  </label>
                </div>
              </div>
              <div class="form-submit" >
                <input type="submit" value="Wyślij">
              </div>
            </form>
          </div>
        <script>
        document.getElementById('upload').onchange = function funkcja(){
            document.getElementById('folder').classList.add('plus');
        }
        </script>      
    </body>
</html>